@font-face {
    font-family: cLato;
    src: url('/css/customfonts/Lato/Lato-Regular.ttf');
}

.ztext {
  color: #fff;
  padding: 13px 15px 0 15px;
  font-family: cLato;
  font-size: 0.8125rem;
  font-weight: normal;
}

.pagecontents {
  min-height: 563px;
}

footer {
  background-color: #000;
}

.footer-top {
  color:#fff;
}

ul {
  list-style-type: none;
}

.top-bar-section {
  color:#ffffff;
}

body {
  color:#fff;
  font-weight: 400 !important;
  font-family: cLato;
}

body a {
  color:#fff;
  font-weight: 400 !important;
  font-family: cLato;
}

body a:link {
    color: #fff;
}

/* visited link */
body a:visited {
    color: #fff;
}

/* mouse over link */
body a:hover {
    color: #fff;
}

/* selected link */
body a:active {
    color: #fff;
}

body h1 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h2 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h3 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h4 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h5 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h6 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

/*social icons*/
.soc-icon-fb {
  background-color:#4c66a4;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-tw {
  background-color:#55acee;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-gp {
  background-color:#d14836;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-yt {
  background-color:#cc181e;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:3px;
  margin-right:10px;
}

.soc-list li {
  margin-top:5px;
}

/*social icons end */

.zpsd {
  color:red;
}

.acc-button:hover {
  padding-top:3px !important;
  border-bottom: 4px solid yellow;
  line-height: 38px !important;
}

.acc-button {
  padding-top:3px !important;
  border-bottom: 4px solid grey;
  line-height: 38px !important;
}

.top-bar {
  background-color:#231f20;
}

.top-bar * {
  background-color:#231f20 !important;
}

.name a {
  font-size: 24px;
  padding-left: 13px;
}

.fdropdown.content {
  max-width: 300px;
}

.zpdesc {
  text-align: center;
  color:#58595b;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #fff;
}