@font-face {
    font-family: cLato;
    src: url('/css/customfonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: cLato-Hairline;
    src: url('/css/customfonts/Lato/Lato-Hairline.ttf');
}

@font-face {
    font-family: cLato-Italic;
    src: url('/css/customfonts/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: cLato-Light;
    src: url('/css/customfonts/Lato/Lato-Light.ttf');
}

.ztext {
  color: #fff;
  padding: 13px 15px 0 15px;
  font-family: cLato;
  font-size: 0.8125rem;
  font-weight: normal;
}

.pagecontents {
  min-height: 563px;
}

footer {
  background-color: #000;
}

.footer-top {
  color:#fff;
}

ul {
  list-style-type: none;
}

.top-bar-section {
  color:#ffffff;
}

body {
  color:#fff;
  font-weight: 400 !important;
  font-family: cLato;
}

body a {
  color:#fff;
  font-weight: 400 !important;
  font-family: cLato;
}

body a:link {
    color: #fff;
}

/* visited link */
body a:visited {
    color: #fff;
}

/* mouse over link */
body a:hover {
    color: #fff;
}

/* selected link */
body a:active {
    color: #fff;
}

body h1 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h2 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h3 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h4 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h5 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h6 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

/*social icons*/
.soc-icon-fb {
  background-color:#4c66a4;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-tw {
  background-color:#55acee;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-gp {
  background-color:#d14836;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-yt {
  background-color:#cc181e;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:3px;
  margin-right:10px;
}

.soc-list li {
  margin-top:5px;
}

/*social icons end */

.zpsd {
  color:#ed283b;
}

.zpsmp {
  color:#004788;
}

.zpsma {
  color:#58595b;
}

.zpguru {
  color:#c7ba00;
}

.acc-button:hover {
  padding-top:3px !important;
  border-bottom: 4px solid #fff100;
  line-height: 38px !important;
}

.acc-button {
  padding-top:3px !important;
  border-bottom: 4px solid #58595b;
  line-height: 38px !important;
}

.top-bar {
  background-color:#231f20;
}

.top-bar * {
  background-color:#231f20 !important;
}

.name a {
  font-size: 24px;
  padding-left: 13px;
  padding-right: 13px;
}

.f-dropdown.contentkelas {
  max-width: 320px !important;
}

.zpdesc {
  text-align: center;
  color:#ffffff;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid #fff;
  
  margin-top:22px;
  margin-left:5px;
}


.zpclassmenusd a:hover, .zpclassmenusd a:hover, .zpclassmenusd .active, .zpclassmenusd .active a {
  background-color: #ed283b !important;
}

.zpclassmenusmp a:hover, .zpclassmenusmp a:hover, .zpclassmenusmp .active, .zpclassmenusmp .active a {
  background-color: #004788 !important;
}

.zpclassmenusma a:hover, .zpclassmenusma a:hover, .zpclassmenusma .active, .zpclassmenusma .active a {
  background-color: #58595b !important;
}

.zpclassmenuguru a:hover, .zpclassmenuguru a:hover, .zpclassmenuguru .active, .zpclassmenuguru .active a {
  background-color: #c7ba00 !important;
}

.zpclassmenusd a, .zpclassmenusma a, .zpclassmenusmp a, .zpclassmenuguru a  {
  text-align:center;
}

.open > .arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0;
  border-bottom: 5px solid #fff;
  
  margin-top:22px;
  margin-left:5px;
}

.f-dropdown:before {
  border: none;
}

.f-dropdown:after {
  border: none;
}

.f-dropdown {
  top: 43px !important;
  border:none !important;
}

.hover *:active, .top-bar *:active {
  background-color: #58595b !important;
}

.content, .content *, .content *:active, .content:active {
  background-color: #231f20 !important;
}

.not-button:active, .not-button:active * {
  background-color: inherit !important;
}

.kelas {
  padding-right:10px;
  font-size: 18px;
}

fieldset legend {
  color:#000000;
}

form label a {
  color:#c7ba00 !important;
}

.zpbutton {
  border-bottom:5px solid #c7ba00;
  background-color:#fff100;
  color:#000 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-top:5px !important;
  padding-bottom: 5px !important;
  display: block;
}

.zpbutton:hover{
  background-color:#fff100;
}

form input[type="text"], form select, form input[type="password"] {
  background-color:#BCBEC0;
  color:#000000;
}

form input[type="text"]:hover, form select:hover, form input[type="password"]:hover, form input[type="text"]:active, form select:active, form input[type="password"]:active {
  background-color:#939598;
}

.panel-alert {
  background-color: #c7ba00;
}

.homecar {
  letter-spacing: 3px;
}

.homecar {
  background-color: #231F20;
}

.quotetext b {
  font-family:cLato-Italic;
}

.quotetext div {
  font-family:cLato-Light;
}

.homeui img {
  display:block;
  margin-right: auto;
  margin-left: auto;
}

.bigbr {
  margin-top:130px;
  margin-bottom:130px;
}

/* tboxes */
.tbox1, .tbox2, .tbox3 {
  color:#000;
  box-shadow: 10px 10px #000000;
 
}

.tbox1 {
  margin-top:18px;
  width:150px;
}

.tbox1 .tboxupper {
  font-size: 12px;
  padding:18px 0 18px 0;
  background-color:#8DC63F;
}

.tbox1 .tboxbot {
  background-color:#39B54A;
  padding:15px 0 15px 0;
}

.tbox2 {
  width:180px;
}

.tbox2 .tboxupper {
  font-size:20px;
  padding:15px 10px 15px 10px;
  background-color:#E2D100;
}

.tbox2 .tboxbot {
  background-color:#C7BA00;
  padding:60px 0 60px 0;
  font-size: 38px
}

.tbox2 .tboxbot b {
  border-bottom:8px solid black;
}

.tbox3 {
  margin-top:18px;
  width:150px;
}

.tbox3 .tboxupper {
  font-size: 12px;
  padding:18px 0 18px 0;
  background-color:#27AAE1;
}

.tbox3 .tboxbot {
  background-color:#1C75BC;
  padding:21px 0 21px 0;
}

.hcbutton {
  background-color:#58595b;
  border-radius:12px;
}

/*clearfix*/
.clearfix:after {
visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;  
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*clearfix*/

/*center*/
.center {
  margin-right: auto;
  margin-left:auto;
}


.ftitle {
  color:#000;
  font-size:30px;
  font-weight: normal;
  letter-spacing: 3px;
  margin-bottom:40px;
}

.fsubtitle {
  font-size:18px;
  margin-top:-20px;
  margin-bottom:20px;
}


form .zpanel {
  color:#000;
  font-size:20px;
  padding-top:40px;
  padding-bottom:40px;
  margin-top:20px;
  margin-bottom: 20px;
  background-color:#fff100;
  letter-spacing: 3px;
}

.container {
  color:#000;
}

table th {
  color:#fff !important;
  font-weight: normal !important;  
  background-color: #000;
}

table .button {
  margin-bottom:0px;
}

.zpanel-grey {
  background-color: #D1D3D4;
  text-align: center;
  padding-bottom: 30px;
}

.zpanel-grey p{
  margin-bottom: 3px;
}

.choices button {
  background-color:#000;
}

.choices button:hover {
  background-color:#9D8C24;
}