@font-face {
    font-family: cLato;
    src: url('/css/customfonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: cLato-Hairline;
    src: url('/css/customfonts/Lato/Lato-Hairline.ttf');
}

@font-face {
    font-family: cLato-Italic;
    src: url('/css/customfonts/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: cLato-Light;
    src: url('/css/customfonts/Lato/Lato-Light.ttf');
}

/* animations */
@-webkit-keyframes opac {
  from{opacity: 0;}
  to{opacity:1;}
}

@-moz-keyframes opac {
  from{opacity: 0;}
  to{opacity:1;}
}

/*animations end */

.blacktext, .blacktext *, .blacktext a {
  font-family: cLato;
  color:#000 !important;
}

.ztext {
  color: #fff;
  padding: 17px 15px 0 15px;
  font-family: cLato;
  font-size: 0.8125rem;
  font-weight: normal;
}

input {
  border-top:none;
  border-bottom:none;
  border-left:none;
  border-right:none;
}

.pagecontents {
  min-height: 563px;
}

footer {
  background-color:#959166;
  color:#fff;
}

.footer-top {
  text-align: center;
  padding-top:17px;
  padding-bottom: 17px;
}

.footer-bot {
  background-color: #898661;
  height:45px;
}

.connect-us *{
  padding-left:5px !important;
  padding-right:5px !important;
}

.connect-us b {
  font-style: italic;
}

ul {
  list-style-type: none;
}

.dropdown * {
  background-color:#fff !important;
}

.top-bar-section {
  color:#ffffff;
}

.top-bar-section ul:active, .top-bar-section li:active {
  background-color: #fff !important;
}

.top-bar a:hover {
  color: #008CBA !important;
}

.top-bar .has-dropdown a {
  color: #333 !important;
}

.top-bar section > * {
  background-color:#ffffff;
}

.top-bar-section li {
  margin-right: 4px;
}

body {
  color:#fff;
  font-weight: 400 !important;
  font-family: cLato;
}

body a {
  color:#fff;
  font-weight: 400 !important;
  font-family: cLato;
}

body a:link {
    color: #fff;
}

/* visited link */
body a:visited {
    color: #fff;
}

/* mouse over link */
body a:hover {
    color: #fff;
}

/* selected link */
body a:active {
    color: #fff;
}

body h1 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h2 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h3 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h4 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h5 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

body h6 {
  color:#fff;
  font-weight: normal;
  font-family: cLato;
}

/*social icons*/
.soc-icon-fb {
  background-color:#4c66a4;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-tw {
  background-color:#55acee;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-gp {
  background-color:#d14836;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:5px;
  margin-right:10px;
}

.soc-icon-yt {
  background-color:#cc181e;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top:3px;
  margin-right:10px;
}

.soc-list li {
  margin-top:8px;
}

/*social icons end */

.zpsd {
  color:#ed283b;
}

.zpsmp {
  color:#004788;
}

.zpsma {
  color:#58595b;
}

.zpguru {
  color:#c7ba00;
}

.acc-button:hover {
  padding-top:3px !important;
  border-bottom: 4px solid #fff100;
  line-height: 38px !important;
  background-color:#ccc !important;
}

.acc-button {
  padding-top:3px !important;
  border-bottom: 4px solid #58595b;
  line-height: 38px !important;
}

nav {
  box-shadow: 1px 1px 5px #000;
  margin-bottom:5px;
}

nav * {
  font-family: 'Montserrat', sans-serif;
  font-size: 13.5px;
}

.top-bar {
  background-color:#ffffff;
}

.top-bar a {
  font-weight: bold !important;  
}

.top-bar-section .has-dropdown>a:after {
  border-color:#333333 transparent transparent transparent;
  top:16px;
}

.name a {
  font-size: 24px;
  padding-left: 13px;
  padding-right: 13px;
}

.f-dropdown.contentkelas {
  max-width: 320px !important;
}

.zpdesc {
  text-align: center;
  color:#ffffff;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid #fff;
  
  margin-top:22px;
  margin-left:5px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  
  border-left: 30px solid #E2D100;
}

.zpclassmenusd a:hover, .zpclassmenusd a:hover, .zpclassmenusd .active, .zpclassmenusd .active a {
  background-color: #ed283b !important;
}

.zpclassmenusmp a:hover, .zpclassmenusmp a:hover, .zpclassmenusmp .active, .zpclassmenusmp .active a {
  background-color: #004788 !important;
}

.zpclassmenusma a:hover, .zpclassmenusma a:hover, .zpclassmenusma .active, .zpclassmenusma .active a {
  background-color: #58595b !important;
}

.zpclassmenuguru a:hover, .zpclassmenuguru a:hover, .zpclassmenuguru .active, .zpclassmenuguru .active a {
  background-color: #c7ba00 !important;
}

.zpclassmenusd a, .zpclassmenusma a, .zpclassmenusmp a, .zpclassmenuguru a  {
  text-align:center;
}

.open > .arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0;
  border-bottom: 5px solid #fff;
  
  margin-top:22px;
  margin-left:5px;
}

.f-dropdown:before {
  border: none;
}

.f-dropdown:after {
  border: none;
}

.f-dropdown {
  top: 43px !important;
  border:none !important;
}

.hover *:active, .top-bar *:active {
  background-color: #58595b !important;
}

.content, .content *, .content *:active, .content:active {
  background-color: #231f20 !important;
}

.not-button:active, .not-button:active * {
  background-color: inherit !important;
}

.kelas {
  padding-right:10px;
  font-size: 18px;
}

fieldset legend {
  color:#000000;
}

form label a {
  color:#c7ba00 !important;
}

.zpbutton {
  border-bottom:5px solid #c7ba00 !important;
  background-color:#fff100 !important;
  color:#000 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-top:5px !important;
  padding-bottom: 5px !important;
  display: block;
}

.zpbutton-sized {
  width:200px !important;
}

.zpbutton-red {
  border-bottom:5px solid #BE1E2D !important;
  background-color:#EF4136 !important;
  color:#fff !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-top:5px !important;
  padding-bottom: 5px !important;
  display: block;
}

.zpbutton-green-btext {
  border-bottom:5px solid #006838 !important;
  background-color:#8DC63F !important;
  color:#000 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-top:5px !important;
  padding-bottom: 5px !important;
  display: block;
}

.zpbutton-green {
  border-bottom:5px solid #BE1E2D !important;
  background-color:#EF4136 !important;
  color:#fff !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-top:5px !important;
  padding-bottom: 5px !important;
  display: block;
}

.zpbutton-blue-btext {
  border-bottom:5px solid #003461 !important;
  background-color:#00AfDF !important;
  color:#000 !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-top:5px !important;
  padding-bottom: 5px !important;
  display: block;
}


.zpbutton-blue {
  border-bottom:5px solid #003461 !important;
  background-color:#0088C5 !important;
  color:#fff !important;
  font-size: 15px !important;
  font-weight: bold !important;
  padding-top:5px !important;
  padding-bottom: 5px !important;
  display: block;
}

.zpbutton-grey-yellow, .zpbutton-grey {
  background-color:#CCC !important;
  color:#555 !important;
}

.top-bar-section:active {
  background-color: #fff;
}

.zpbutton-white {
  background-color:#fff !important;
  color:#333333 !important;
}

.zpbutton-grey-yellow:hover, .secondary:hover {
  background-color:#FFEA00 !important;
}

.zpbutton:hover{
  background-color:#fff100 !important;
}

form input[type="submit"]{
  border:0 none;
}

form input[value="Next"]{
  width:100px;
  height:30px;
  display:block;
}

form input[type="text"], form select, form input[type="password"] {
  background-color:#ffffff;
  color:#000000;
}

form input[type="text"]:hover, form select:hover, form input[type="password"]:hover, form input[type="text"]:active, form select:active, form input[type="password"]:active {
  background-color:#939598;
}

form input[type="submit"] {
  background-color:#58595B;
  border-bottom:3px solid #939598;
  color:#fff;
}

form input[type="submit"]:hover {
  background-color:#000;
  border-bottom:3px solid #FFF100;
  color:#fff;
}

.panel-alert {
  background-color: #c7ba00;
}

.homecar {
  background-color: #231F20;
  letter-spacing: 3px;
  min-height:677px;
  padding-top:90px;
}

.quotetext b {
  font-family:cLato-Italic;
}

.quotetext div {
  font-family:cLato-Light;
}

.homeui img {
  display:block;
  margin-right: auto;
  margin-left: auto;
}

.homeui .hmdesc {
  background-color:#C7BA00;
  padding:50px 25px 50px 25px;
  letter-spacing:2px;
  position:relative;
}

.homeui .hmimg{
  position:relative;
  top:-236px;
  background-color: #fff;
  height:236px;
}

.homeui .hmbanner {
  height: 236px;
  top:-236px;
  transition:top 1s ease, height 1s ease;
  -moz-transition:top 1s ease, height 1s ease;
  -webkit-transition:top 1s ease, height 1s ease;
}

.homeui .hmbanner:hover {
  top:0px;height:392px;
}

.homeui .hmimg {
  top:-236px;
  height:236px;
  transition:top 1s ease, height 1s ease;
  -moz-transition:top 1s ease, height 1s ease;
  -webkit-transition:top 1s ease, height 1s ease;
}

.homeui .hmbanner:hover .hmimg {
  top:0px;
  height:156px;
}

.homeui .hmdesc p {
  font-size:20px;
}

.homeui .hmdesc p + p {
  font-size:10px;
}

.hmdesc {
  height: 236px;
}

.bigbr {
  margin-top:100px;
  margin-bottom:40px;
  min-height:587px;
  padding-top:140px;
}

/* tboxes */
.tbox1, .tbox2, .tbox3 {
  color:#000;
  box-shadow: 10px 10px #000000;
 
}

.tbox1 {
  margin-top:18px;
  width:150px;
}

.tbox1 .tboxupper {
  font-size: 12px;
  padding:18px 0 18px 0;
  background-color:#8DC63F;
}

.tbox1 .tboxbot {
  background-color:#39B54A;
  padding:15px 0 15px 0;
}

.tbox2 {
  width:180px;
}

.tbox2 .tboxupper {
  font-size:20px;
  padding:15px 10px 15px 10px;
  background-color:#E2D100;
}

.tbox2 .tboxbot {
  background-color:#C7BA00;
  padding:60px 0 60px 0;
  font-size: 38px
}

.tbox2 .tboxbot b {
  border-bottom:8px solid black;
}

.tbox3 {
  margin-top:18px;
  width:150px;
}

.tbox3 .tboxupper {
  font-size: 12px;
  padding:18px 0 18px 0;
  background-color:#27AAE1;
}

.tbox3 .tboxbot {
  background-color:#1C75BC;
  padding:21px 0 21px 0;
}

.hcbutton {
  background-color:#58595b;
  border-radius:12px;
}

/*clearfix*/
.clearfix:after {
visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;  
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*clearfix*/

/*center*/
.center {
  margin-right: auto;
  margin-left:auto;
}


.ftitle, .ftitle a {
  color:#000 !important;
  font-size:30px;
  font-weight: normal !important;
  letter-spacing: 3px;
  margin-bottom:20px;
}

.fsubtitle, .fsubtitle a {
  color:#000 !important;
  font-size:18px;
  margin-top:-20px;
  margin-bottom:20px;
}


form .zpanel {
  color:#000;
  font-size:20px;
  padding-top:30px;
  padding-bottom:30px;
  margin-top:20px;
  margin-bottom: 40px;
  background-color:#fff100;
  letter-spacing: 3px;
}

.container {
  color:#000 !important;
}

.container a {
  color:#000;
}

table td > a {
  color:#008cba !important;
}

table th {
  color:#fff !important;
  font-weight: bold;  
  background-color: #000;
}

table .button {
  margin-bottom:0px;
}

.zpanel-grey {
  background-color: #D1D3D4;
  padding:20px 20px 20px 20px;
}

.zpanel-grey p, .zpanel-blue p{
  margin-bottom: 3px;
}

.zpanel-blue {
  background-color: #0088C5;
  padding:20px 20px 20px 20px;
  color:#fff;
}

.zpanel-red {
  background-color: #EF4136;
  padding:20px 20px 20px 20px;
  color:#fff;
}

.zpanel-black-grey .zptitle {
  background-color: #000;
  text-align:center;
  color:#fff;
  padding:6px 6px 6px 6px;
}

.zpanel-black-grey .zpcontent {
  background-color: #414042;
  color:#fff;
  padding:30px 30px 30px 30px;
}

.zpanel-dark-yellow {
  background-color: #DFD377;
  padding:10px 10px 40px 10px;
  color:#000;
}

.proset-forms, .proset-forms h2, .proset-forms h3, .proset-forms h4{
  color:#000;
  letter-spacing: 3px;
}

.zpanel-grey input, .zpanel-grey input:hover {
  background-color: #ffffff;
}

.zpanel-grey input[type="text"], .zpanel-grey input[type="text"]:hover {
  background-color: #ffffff !important;
}

.zpanel-grey select, .zpanel-grey select:hover {
  background-color: #ffffff;
}


.choices input {
  background-color:#000;
  color:#fff;
  margin:3px 3px 3px 3px;
  border:0 none;
  width:35px;
  height:35px;
}

.choices input:hover {
  background-color:#9D8C24;
}

.choices i {
  background-color: #000;
  border:0 none;
  width:35px;
  height:35px;
  margin:3px 3px 3px 3px;
}

.choices .wrong {
  font-family:FontAwesome;
  color:#F00;
  font-size:28px;
}

.choices .correct {
  font-family:FontAwesome;
  color:#008000;
  font-size:24px;
}

.choices .circled {
  background-color:#9D8C24;
}

.reclearn {
  text-align: center;
}

.reclearn * {
  text-align: center;
  display:block;
}

.reclearn .zpbutton {
  padding-top:10px !important;
  padding-bottom:10px !important;
}

.reclearn .sp {
  font-weight: bold;
  font-size: 50px;
  margin-top:30px;
  margin-bottom:30px;
  padding-bottom:30px;
  padding-top:30px;
  color:#fff;
  background-color:#000;
  border-radius: 3px;
}

.notf form {
  margin-left: 18px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.opacan {
 -webkit-animation-name: opac;
 -webkit-animation-duration: 1s;
 -moz-animation-name: opac;
 -moz-animation-duration: 1s;
}

.gobutton {
  font-size:15px !important;
  padding-left:10px !important;
  padding-right:10px !important;
  padding-bottom:10px !important;
}

.dpbutton {
  border-top:none;
  border-right:none;
  border-left:none;
}

.bluecheck {
  color:#004788;
}


.pagination input{
  border-top:none;
  border-right:none;
  border-left:none;
  height:30px;
  width:33px;
  background-color: #58595B;
  border-bottom:3px solid #939598;
  color:#fff;
  border-radius:1px;
}

.pagination .arrow > input{
  border-top:none;
  border-right:none;
  border-left:none;
  height:30px;
  width:100px;
  background-color: #58595B;
  border-bottom:3px solid #939598;
  color:#fff;
}

.pagination .current input {
  background-color: #231F20;
  border-bottom:3px solid #FFF100;
}

.pagination .correct {
  font-family:FontAwesome;
  color:#008000;
}

.pagination .wrong {
  font-family:FontAwesome;
  color:#F00;
}

.pagination .circled {
  font-family:FontAwesome;
  color:#0088C5 ;
  font-size:16px;
}

.btep {
  width:200px;
}

.htestimoni {
  background-image:url("/img/tesimg.png") ;
  background-repeat:repeat;
  background-color:#C7BA00;
}

.tesrow {
  padding:50px 50px 50px 50px;
}

.tesrow > * {
  min-height: 200px;
}

.tesbar  {
  color:#000;
  padding-left:30px;
}

.tesbar > .tescontent{
  background-color: #fff;
  padding:30px 30px 30px 30px;
}
.tesimg {
  background-color: #000;
  padding-left:0px !important;
  padding-right:0px !important;
}

.tesimg img {
  min-height:200px;
}

.zblog {
  color:#000;
  background-color: #f0efde;
  min-height:587px;
  padding-top:30px;
  padding-right:174.5px;
  padding-left:174.5px;
}

.zblog p {
  margin-top:60px;
}

.zblog a {
  color:#0078a0 !important;
}

.zblog h2 {
  color:#D5B900;
}

.zblog .znetblog {
  background-color: #E2D100;
  color:#000;
  font-size:24px;
  text-decoration: underline;
}

.zbreadcrumbs li a {
  color:#000;
  position:relative;
  display:block;
  background-color:#9D8C24;
  padding:5px 20px 5px 5px;
  text-align: center;
}

.zbreadcrumbs li {
  float:left;  
}

.zbreadcrumbs li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 19px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 19px solid transparent;
  border-left: 20px solid #9D8C24;
  position: absolute;
  top: 50%;
  margin-top: -19px; 
  left: 100%;
  z-index: 2; 
}

.zbreadcrumbs li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 19px solid transparent;       
  border-bottom: 19px solid transparent;
  border-left: 20px solid white;
  position: absolute;
  top: 50%;
  margin-top: -19px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.zbreadcrumbs li + li a {
  padding-left:30px;
}

.zbreadcrumbs .active a {
  background-color: #E2D100 !important;
}

.zbreadcrumbs .active a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 19px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 19px solid transparent;
  border-left: 20px solid #E2D100;
  position: absolute;
  top: 50%;
  margin-top: -19px; 
  left: 100%;
  z-index: 2; 
}

.proset2 input[type="text"]{
  width:80px;
}

.proset2 input {
  margin-bottom: 0px; 
}

.proset-summ p, .proset-summ p h4{
  text-align:center;
}

.logotext {
  margin-left:8px;
  font-family:cLato-Italic;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 600;
}

.marbot {
  margin-bottom:50px !important;
}

.avatar {
  min-width:190px;
  min-height:240px;
  background-color: #333;
}

.rank-table .search-form {
  margin-top:18.5px !important;
}

.rank-table .search-form i {
  color:#fff;
  background-color: #333;
  padding:10.5px 10.5px 10.5px 10.5px;
  margin-left:5px;
}

.rank-table table {
  width:100%;
}

.rank-table thead tr th {
  background-color: #333;
  border-top:solid #000;
}

.complete {
  color:green;
  font-weight: bold;
}

.incomplete {
  color:#333;
  font-weight: bold;
}

.wtable {
  width:100%;
}
